<div class="d-flex mb-5">
  <div class="mr-5"><%= contact.building.property_name %></div>
  <div class="mr-5"><%= contact.building.room_number %></div>
  <div class="mr-5"><%= contact.building.customer_name %></div>
</div>

<div class="card">
  <div class="card-header">
    <p class="card-text"><%= contact.contact %></p>
  </div>
  <div class="card-body">
    <p class="card-text"><%= contact.respond %></p>
    <p class="text-right font-weight-bold mr-10"><%= contact.status %></p>
  </div>
</div>
