<% if flash[:error_messages] %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for building do |f| %>
  
  <div class="form-group col-md-6">
    <%= f.label :property_name, '物件名' %>
    <%= f.text_field :property_name, class: 'form-control' %>
  </div>
  <div class="form-group col-md-2">
    <%= f.label :room_number, '部屋番号' %>
    <%= f.text_field :room_number, class: 'form-control' %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :customer_name, '入居者名' %>
    <%= f.text_field :customer_name, class: 'form-control' %>
  </div>
  
  <%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>
